         <div class="divider-new pt-5">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">About us</h2>
        </div>

        <!--Section: About-->
        <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>

        </section>
        <!--Section: About-->

        <div class="divider-new pt-5">
            <h2 class="h2-responsive wow fadeIn">Our Services</h2>
        </div>

        <!--Section: Best features-->
        <section id="services">

            <div class="row pt-3">

                <!--First columnn-->
                <div class="col-lg-4 mb-r">

                    <!--Card-->
                    <div class="card wow fadeIn">

                        <!--Card image-->
                        <img class="img-fluid" src="assets/images/logo-systemaker-black.png" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">Application development</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="text-center">
                                <a [routerLink]="['/page', 2]"  href="" routerLinkActive="active" class=" btn btn-primary" rel="nofollow">Learn more</a>
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-4 mb-r">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.2s">

                        <!--Card image-->
                        <img class="img-fluid" src="assets/images/logo-systemaker-black.png" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">UI and Graphic design</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="text-center">
                                <a [routerLink]="['/page', 3]"  href="" routerLinkActive="active" class=" btn btn-primary" rel="nofollow">Learn more</a>
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-4 mb-r">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s">

                        <!--Card image-->
                        <img class="img-fluid" src="assets/images/logo-systemaker-black.png" alt="Card image cap">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center">Data modeling</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="text-center">
                                <a [routerLink]="['/page', 4]"  href="" routerLinkActive="active" class=" btn btn-primary" rel="nofollow">Learn more</a>
                            </p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->

               
            </div>

        </section>
        <!--/Section: Best features-->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn">Contact us</h2>
        </div>

        <!--Section: Contact-->
        <section id="contact pb-5">
            <div class="row">
                <!--First column-->
                <div class="col-md-8 mb-5">
                   <img class="img-fluid z-depth-1 wow fadeIn" src="assets/images/logo-systemaker-black.png" alt="Card image cap">

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-md-4">
                    <ul class="text-center list-unstyled">
                        <li class="wow fadeIn" data-wow-delay="0.2s"><i class="fa fa-map-marker blue-text fa-lg"></i>
                            <p>Paris, France</p>
                        </li>

                        <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.3s"><i class="fa fa-phone blue-text fa-lg"></i>
                            <p>+33 (0)0 00 00 00 00</p>
                        </li>

                        <li class="wow fadeIn mt-5 pt-2" data-wow-delay="0.4s"><i class="fa fa-envelope blue-text fa-lg"></i>
                            <p>info@systemaker.com</p>
                        </li>
                    </ul>
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--Section: Contact-->
