.intro-divider {
    width: 400px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 200px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}